<%= render "users/info" %>
<h1>Book detail</h1>
    <h6>
      <%= link_to @user.name, user_path(current_user.id) %>
    </h6>
    <p>
      <%= link_to @book.title, book_path(@book) %>
    </p>
    <p>
      <%= @book.body %>
    </p>
    <p>
      <%= link_to "Edit",  edit_book_path(@book) %>
    </p>
    <p>
      <%= link_to "Destroy", @book, method: :delete, data: { confirm: '本当に削除しますか？' } %>
    </p>
