<header>
  <nav class="navbar navbar-expand-lg navbar-Dark">
    <div class="container"  >
      <ul class="navber-nav ml-auto">
        <% if user_signed_in? %>
          <li>
            <%= link_to 'Home', user_path(current_user.id) %>
          </li>
          <li>
            <%= link_to 'User', users_path %>
          </li>
          <li>
            <%= link_to 'Books', books_path %>
          </li>
          <li>
            <%= link_to 'Log_out', destroy_user_session_path, method: :delete %>
          </li>

        <% else %>
          <li>
            <%= link_to 'Home', root_path %>
          </li>
          <li>
            <%= link_to 'About', home_about_path %>
          </li>
          <li>
            <%= link_to 'Sign_up', new_user_registration_path %>
          </li>
          <li>
            <%= link_to 'Log_in', new_user_session_path %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>