  <% if user_signed_in? %>
        <li>
          <%= 'Home'%>
        </li>
        <li>
          <%= link_to 'User', users_path %>
        </li>
        <li>
          <%= link_to 'Books', books_path %>
        </li>
        <li>
           <%= link_to 'Log_out', destroy_user_session_path, method: :delete %>
        </li>

      <% else %>
        <li>
          <%= link_to 'Home', root_path %>
        </li>
        <li>
          <%= link_to 'About', home_about_path %>
        </li>
        <li>
          <%= link_to 'Sign_up', new_user_registration_path %>
        </li>
        <li>
          <%= link_to 'Log_in', new_user_session_path %>
        </li>
      <% end %>