<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="https://kit.fontawesome.com/e5b9537e39.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-Dark">
        <div class="container">
          <h3>Bookers</h3>
          <ul class="navber-nav ml-auto">
            <% if user_signed_in? %>
              <li>
                <%= link_to 'Home', user_path(current_user.id), class: 'nav-link text-Dark' %>
              </li>
              <li>
                <%= link_to 'User', users_path, class: 'nav-link text-light' %>
              </li>
              <li>
                <%= link_to 'Books', books_path, class: 'nav-link text-light' %>
              </li>
              <li>
                <%= link_to 'Log_out', destroy_user_session_path, method: :delete, class: 'nav-link text-light' %>
              </li>

            <% else %>
              <li>
                <%= link_to 'Home', root_path, class: 'nav-link text-light' %>
              </li>
              <li>
                <%= link_to 'About', home_about_path, class: 'nav-link text-light' %>
              </li>
              <li>
                <%= link_to 'Sign_up', new_user_registration_path, class: 'nav-link text-light' %>
              </li>
              <li>
                <%= link_to 'Log_in', new_user_session_path, class: 'nav-link text-light' %>
              </li>
            <% end %>
          </ul>
        </div>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
